{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-4 main">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ajout d'un Utilisateur

                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">

                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.prenom, "Prénom :") }}
                            {{ form_errors(form.prenom) }}
                            {{ form_widget(form.prenom,
                                {'attr': {'class': 'form-control'}}
                            ) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.nom, "Nom :") }}
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom,
                                {'attr': {'class': 'form-control'}}
                            ) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pseudo, "Pseudo :") }}
                            {{ form_errors(form.pseudo) }}
                            {{ form_widget(form.pseudo,
                                {'attr': {'class': 'form-control'}}
                            ) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.motDePasse.first) }}
                            {{ form_errors(form.motDePasse.first) }}
                            {{ form_widget(form.motDePasse.first,
                                {'attr': {'class': 'form-control'}}
                            ) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.motDePasse.second) }}
                            {{ form_errors(form.motDePasse.second) }}
                            {{ form_widget(form.motDePasse.second,
                                {'attr': {'class': 'form-control'}}
                            ) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
