{% extends 'layout.html.twig' %}
{% block body %}
    <title>{% block title %}Bienvenue sur ParcoursStage !{% endblock %}</title>

    <nav id="main-nav" class="container navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
        <ul class="navbar-nav">
            <div class="inner">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFESSOR') %}
                    <section class="panel panel-featured-left panel-featured-primary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-life-ring"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Stage en cours</h4>
                                        <div class="info">
                                            <strong class="amount">Liste des stages en cours</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="{{ path('liste_stage') }}">(Voir
                                            ici)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
                <div class="col-md-12 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-quartenary">
                        <header class="panel-heading   bg-tertiary">
                            <div class="widget-summary ">
                                <div class="widget-summary-col widget-summary-col-icon ">
                                    <div class="summary-icon bg-quartenary">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Bienvenue {{ app.user.nom }} {{ app.user.prenom }} !</h4>
                                        <div class="info">
                                            <strong class="amount">
                                                Vous êtes connecté en {{ app.user.roles | join }}
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase">(report)</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="panel-body">
                            <p>Que choisissez-vous ? </p>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href={{ path('liste_eleve') }} }}>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">Liste des élèves
                                </button>
                            </a>
                            <a href={{ path('liste_professeur') }}>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">Liste des professeurs
                                </button>
                            </a>
                            <a href={{ path('list_entreprise') }}>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">Liste des entreprises
                                </button>
                            </a>
                            <hr class="solid short">
                          <p><a href="{{ path('logout') }}"><i class="fa fa-power-off mr-xs"></i> Se déconnecter</a>
                            </p>
                            {% elseif is_granted('ROLE_USER') %}
                            <a href={{ path('list_entreprise') }}>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">Liste des entreprises
                                </button>
                            </a>
                            <hr class="solid short">
                            <p><a href="{{ path('eleve_stage') }}"><i class="fa fa-user mr-xs"></i> Mon Stage en cours</a></p>
                            <p><a href="{{ path('logout') }}"><i class="fa fa-power-off mr-xs"></i> Se déconnecter</a>
                            </p>
                            {% elseif is_granted('ROLE_PROFESSOR') %}
                            <a href={{ path('list_entreprise') }}>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-default">Liste des entreprises
                                </button>
                            </a>
                            <p><a href="{{ path('logout') }}"><i class="fa fa-power-off mr-xs"></i> Se déconnecter</a>
                        {% endif %}
                        </div>
                    </section>
                </div>
            </div>
        </ul>
    </nav>
    {% block flash %}
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="container alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="container alert alert-info" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="container alert alert-warning" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('danger') %}
            <div class="container alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}
