{% extends 'layout.html.twig' %}

{% block title %}Liste Eleves!{% endblock %}
{% block body %}

    <section id="wrapper">
        <header>
            <div class="inner">
                <h2><span class="fa fa-file"></span> Affichage des eleves</h2>
                <h2 class="panel-title">A partir de la base de données.</h2>
            </div>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <section>
                    <h4>
                        <span class="fa fa-user"></span>
                        <a href="{{ path('ajout_eleve') }}">Ajouter un eleve</a>

                    </h4>
                    <div class="dataTables_wrapper no-footer">
                        <div class="row datatables-header form-inline">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" ><label>
                                    </label>
                                    <table class="table mb-non">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Prénom</th>
                                            <th>Nom</th>
                                            <th>Pseudo</th>
                                            <th>MotDePasse</th>
                                            <th>Roles</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for eleve in em %}
                                            <tr>
                                                <td>{{ eleve.id }}</td>
                                                <td>{{ eleve.prenom }}</td>
                                                <td>{{ eleve.nom }}</td>
                                                <td>{{ eleve.pseudo }}</td>
                                                <td>{{ eleve.motdepasse }}</td>
                                                <td>{{ eleve.roles|join(', ') }}</td>
                                                <td>
                                                    <a href="{{ path('maj_user', {'id': eleve.id }) }}"><span
                                                                class="fa fa-edit"></span></a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('eleve_delete', {'id': eleve.id }) }}"
                                                       onClick="return(confirm('Êtes-vous sûr de vouloir supprimer {{ eleve.nom }}?'));"
                                                    ><span class="fa fa-eraser"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                               </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
        </li>
    </ul>
{% endblock %}

