{% extends 'layout.html.twig' %}

{% block title %}Liste Entreprise!{% endblock %}
{% block body %}

    <section id="wrapper">
        <header>
            <div class="inner">
                <h2><span class="fa fa-file"></span> Affichage des entreprises</h2>
                <h2 class="panel-title">A partir de la base de données.</h2>

            </div>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <section>
                    <h4>
                        <span class="fa fa-user"></span>
                        <a href ="{{ path('add_entreprise') }}">Ajouter une entreprise</a>
                    </h4>


                    <div id="datatable-default_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row datatables-header form-inline">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable-default_length"><label>
                                    </label>
                                    <table class="table mb-non">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Nom</th>
                                            <th>Ville</th>
                                            <th>Code Postal</th>
                                            <th>Adresse</th>
                                            <th>Adresse</th>
                                            <th>Téléphone</th>
                                            <th>Activité</th>
                                            <th>Active</th>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <th>Modifier</th>
                                                <th>Supprimer</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entreprise in em %}
                                            <tr>
                                                <td>{{ entreprise.id }}</td>
                                                <td>{{ entreprise.nom }}</td>
                                                <td>{{ entreprise.ville }}</td>
                                                <td>{{ entreprise.cp }}</td>
                                                <td>{{ entreprise.adresse }}</td>
                                                <td>{{ entreprise.mail }}</td>
                                                <td>{{ entreprise.tel }}</td>
                                                <td>{{ entreprise.activite }}</td>
                                                <td>{% if entreprise.active == 1 %}Oui{% else %}Non{% endif %}</td>
                                                {% if is_granted('ROLE_ADMIN') %}

                                                <td>
                                                    <a href="{{ path('update_entreprise', {'id': entreprise.id }) }}"><span class="fa fa-edit"></span></a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('delete_entreprise', {'id': entreprise.id }) }}"
                                                       onClick="return(confirm('Êtes-vous sûr de vouloir supprimer {{entreprise.nom }}?'));"
                                                    ><span class="fa fa-eraser"></span></a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
        </li>
    </ul>

{% endblock %}

