{% extends 'layout.html.twig' %}

{% block title %}Liste Professeurs!{% endblock %}
{% block body %}

    <section id="wrapper">
        <header>
            <div class="inner">
               <h2> <span class="fa fa-file"></span> Affichage des professeurs</h2>
                <h2 class="panel-title">A partir de la base de données.</h2>

            </div>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <section>
                    <h4>
                        <span class="fa fa-user"></span>
                        <a href ="{{ path('add_professeur') }}">Ajouter un professeur</a>
                    </h4>

                    <div id="datatable-default_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row datatables-header form-inline">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable-default_length"><label>
                                    </label>
                                    <div class="table-wrapper">
                                        <table class="table mb-non">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Pseudo</th>
                                                <th>MotDePasse</th>
                                                <th>Roles</th>
                                                <th>Modifier</th>
                                                <th>Supprimer</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for professor in em %}
                                                <tr>
                                                    <td>{{ professor.id }}</td>
                                                    <td>{{ professor.prenom }}</td>
                                                    <td>{{ professor.nom }}</td>
                                                    <td>{{ professor.pseudo}}</td>
                                                    <td>{{ professor.motdepasse }}</td>
                                                    <td>{{ professor.roles|join(', ') }}</td>
                                                    <td>
                                                        <a href="{{ path('maj_user', {'id': professor.id }) }}"><span class="fa fa-edit"></span></a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('eleve_delete', {'id': professor.id }) }}"
                                                           onClick="return(confirm('Êtes-vous sûr de vouloir supprimer {{professor.nom }}?'));"
                                                        ><span class="fa fa-eraser"></span></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
        </li>
    </ul>
{% endblock %}