{% extends 'layout.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-4 main">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Modifier une entreprise

                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">

                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.nom) }}
                            {{ form_errors(form.nom) }}
                            {{ form_widget(form.nom,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.ville) }}
                            {{ form_errors(form.ville) }}
                            {{ form_widget(form.ville,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.cp) }}
                            {{ form_errors(form.cp) }}
                            {{ form_widget(form.cp,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                            {{ form_widget(form.adresse,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mail) }}
                            {{ form_errors(form.mail) }}
                            {{ form_widget(form.mail,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.tel) }}
                            {{ form_errors(form.tel) }}
                            {{ form_widget(form.tel,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.activite) }}
                            {{ form_errors(form.activite) }}
                            {{ form_widget(form.activite,{'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
    </div{% endblock %}