<header class="page-header">
{#    <h2>{{ app.user.nom }} <i class="fa fa-user"></i></h2>#}
{#    <a role="menuitem" tabindex="-1" href="/logout"><i#}
{#                class="fa fa-power-off"></i>#}
{#        Logout</a>#}
    <div class="right-wrapper pull-left">
        <ol class="breadcrumbs">
            <li>
                <i class="fa fa-home"></i>
            </li>
            <li>
                <i class="fa fa-copy"></i>
            </li>
        </ol>
    </div>
</header>