<header class="header">
    <div class="logo-container">
        <a href="../index" class="logo">
            <img src="{{ asset('assets/images/logo.png') }}" height="50px" width="200px"/>
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
             data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="header-right">
        <span class="separator"></span>
        <div id="userbox" class="userbox">
            <a href="/index" data-toggle="dropdown">
                <div class="profile-info" >
                    <span class="name">{{ app.user.pseudo }} <i class="fa fa-user"></i></span>
                </div>
                <a role="menuitem" tabindex="-1" href="/logout"><i
                            class="fa fa-power-off"></i>
                    Logout</a>
            </a>
            </div>
        </div>
    </div>
</header>