<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
             data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="/index">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Homepage</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('list_entreprise') }}">Liste des entreprises</a>
                        </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('liste_professeur') }}">Liste des professeurs</a>
                        </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('liste_eleve') }}">Liste des élèves</a>
                        </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('liste_stage') }}">Liste des stages en cours</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('list_entreprise') }}">Espace Entreprise</a>
                        </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('eleve_stage') }}">Liste du stage en cours</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('list_entreprise') }}">Liste des entreprises</a>
                        </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('liste_stage') }}">Liste des stages en cours</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</aside>