{% extends 'base_login.html.twig' %}
{% block body %}
    {#    {{form(form)}}#}


    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-pencil"></i>Inscription</h2>
                </div>
                <div class="panel-body">
                    <div class="center">
                        <img src="assets/images/logo.png" height="80" width="50%" alt="Porto Admin"/>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.prenom, "Prénom :") }}
                        {{ form_errors(form.prenom) }}
                        {{ form_widget(form.prenom,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nom, "Nom :") }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.pseudo, "Pseudo :") }}
                        {{ form_errors(form.pseudo) }}
                        {{ form_widget(form.pseudo,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainpassword.first) }}
                        {{ form_errors(form.plainpassword.first) }}
                        {{ form_widget(form.plainpassword.first,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainpassword.second) }}
                        {{ form_errors(form.plainpassword.second) }}
                        {{ form_widget(form.plainpassword.second,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
