{% extends 'base_login.html.twig' %}
{% block body %}
    {% if error %}
        {{  dump(error) }}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

    {% endif %}
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Login</h2>
                </div>
                <div class="panel-body">
                    <div class="center">
                        <img src="assets/images/logo.png" height="80" width="50%" alt="Porto Admin"/>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form._username) }}<span class="icon icon-lg"><i class="fa fa-user"></i></span>
                        {{ form_errors(form._username) }}
                        {{ form_widget(form._username,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form._password) }}<span class="icon icon-lg"><i class="fa fa-lock"></i></span>
                        {{ form_errors(form._password) }}
                        {{ form_widget(form._password,
                            {'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                    {{ form_end(form) }}
                    <span class="mt-lg mb-lg  text-center text-uppercase">
                            <p class="text-center">Vous n'avez pas de compte ?
                                <a href="{{ path('inscription') }}">Inscrivez-vous !</a>
                            </p>
                </span>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <script src="assets/vendor/jquery-autosize/jquery.autosize.js"></script>

    <script src="assets/javascripts/theme.js"></script>

    <script src="assets/javascripts/theme.custom.js"></script>

    <script src="assets/javascripts/theme.init.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>
{% endblock %}