<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Basic -->
        <meta charset="UTF-8">

        <meta name="keywords" content="HTML5 Admin Template"/>
        <meta name="description" content="Porto Admin - Responsive HTML5 Template">
        <meta name="author" content="okler.net">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
              rel="stylesheet"
              type="text/css">

        <!-- Vendor CSS -->
    {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/css/datepicker3.csss') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/skins/default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme-custom.css') }}"/>


    {% endblock %}
        <!-- Head Libs -->
        <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>

    {% endblock %}
</head>

<body style="font-family: 'Open Sans'">
<section class="body">
    <!-- start: header -->
    {% include 'layout_decouper/header.html.twig' %}
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        {% include 'layout_decouper/sidebar_left.html.twig' %}
        <!-- end: sidebar -->


        <section role="main" class="content-body">
            {% include 'layout_decouper/header_littlebar.html.twig' %}
            <!-- start: page -->
            {% block body %}

            {% endblock %}
            <!-- end: page -->
        </section>
    </div>
    {#    {% include 'layout_decouper/sidebar_right.html.twig' %}#}
</section>
<!-- Vendor -->
<script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/vendor/nanoscroller/nanoscroller.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('assets/vendor/magnific-popup/magnific-popup.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{ asset('assets/javascripts/theme.js') }}"></script>

<!-- Theme Custom -->
<script src="{{ asset('assets/javascripts/theme.custom.js') }}"></script>

<!-- Theme Initialization Files -->
<script src="{{ asset('assets/javascripts/theme.init.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>