{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-sm-9 col-sm-offset- col-lg-12 col-lg-offset-2 main">
            <div class="centered_panel">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% if is_granted('ROLE_USER') %}
                                Votre stage<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                            class="fa fa-toggle-up"></em></span></div>

                            <div class="panel-body">
                                {{ form_start(form.Eleve) }}
                                {{ form_errors(form.Eleve) }}
                                {{ form_widget(form.Eleve,{'attr': {'class': 'hidden'}}) }}
                                <div class="form-group">
                                    {{ form_label(form.Entreprise) }}
                                    {{ form_errors(form.Entreprise) }}
                                    {{ form_widget(form.Entreprise,{'attr': {'class': 'form-control'}}) }}
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div><!--/.row-->
        </div>

    </div>
    </div>

{% endblock %}