{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if is_granted('ROLE_USER') %}
                        Votre stage<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span>
                    </div>

                    {% if eleve in eleves %}
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {{ form_errors(form.Eleve) }}
                            {{ form_widget(form.Eleve,{'attr': {'class': 'hidden'}}) }}
                            <div class="form-group">
                                {{ form_label(form.Entreprise) }}
                                {{ form_errors(form.Entreprise) }}
                                {{ form_widget(form.Entreprise,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Tuteur) }}
                                {{ form_errors(form.Tuteur) }}
                                {{ form_widget(form.Tuteur,{'attr': {'class': 'form-control'}}) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                    {% else %}
                        <div class="panel-body">
{#                            {{ eleve.id }}#}
                            Voici les informations à propos de votre stage :<br/><br/><br/>

                            <h2>Elève </h2>

                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ lestage.eleve.nom }}</td>
                                    <td>{{ lestage.eleve.prenom }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br/><br/>

                            <h2>Date Début </h2> {{ lestage.dateDebut|date('Y-m-d') }}
                            <h2>Date Fin </h2> {{ lestage.dateFin|date('Y-m-d') }}


                            <h2>Entreprise </h2>
                            <div class="panel-body">
                                <div class=table-responsible">
                                    <table class="table mb-non" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Tuteur</th>
                                            <th>Ville</th>
                                            <th>Adresse</th>
                                            <th>Code postal</th>
                                            <th>Mail</th>
                                            <th>Téléphone portable</th>
                                            <th>Activité</th>
                                            <th>Est active ?</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ lestage.entreprise.nom }}</td>
                                            <td>{{ lestage.tuteur }}</td>
                                            <td>{{ lestage.entreprise.ville }}</td>
                                            <td>{{ lestage.entreprise.adresse }}</td>
                                            <td>{{ lestage.entreprise.cp }}</td>
                                            <td>{{ lestage.entreprise.mail }}</td>
                                            <td>{{ lestage.entreprise.tel }}</td>
                                            <td>{{ lestage.entreprise.activite }}</td>
                                            <td>{% if lestage.entreprise.active == 1 %}Oui{% else %}Non{% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br/><br/>

                            <h2>Référent </h2>

                            {% if lestage.referent is null %}
                            Vous n'avez pas encore de professeur référent.
                        {% else %}

                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ lestage.referent.nom }}</td>
                                    <td>{{ lestage.referent.prenom }}</td>
                                </tr>
                                </tbody>
                            </table>

                            {% endif %}<br/><br/>
                            <a class="" href="{{ path('stage_edit', {'id': lestage.id}) }}">
                                <span class="fa fa-arrow-right">&nbsp;</span> Modifier son stage
                            </a>
                        </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div><!--/.row-->
    </div>
    </div>

{% endblock %}