{% extends 'layout.html.twig' %}

{% block body %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-15 col-lg-offset-2 main">
        <div class="centered_panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if is_granted('ROLE_PROFESSOR') or is_granted('ROLE_ADMIN') %}
                            Les stages en cours :<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                        class="fa fa-toggle-up"></em></span></div>
                        <div class="table-wrapper">
                        <table class="table table-bordered mb-none" style="width:100%">
                            <thead>
                            <tr>
                                <th>Elève</th>
                                <th>Professeur</th>
                                <th>Entreprise</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stage in stages %}
                                <tr>
                                    <td>nom : {{ stage.eleve.nom }} et prénom : {{ stage.eleve.prenom }}</td>
                                    <td>{% if stage.referent is null %}
                                            <a href="{{ path('prof_stage2', {'id': stage.id}) }}">Devenir référent</a>
                                        {% else %}{{ stage.referent.nom }} {{ stage.referent.prenom }}{% endif %}
                                    </td>
                                    <td>{{ stage.entreprise.nom }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}